.leaflet-container {
  width: 75%;
  height: 60vh;
  margin-bottom: 2rem;
}

.container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.dropdown {
  margin-bottom: 1rem;
  margin-left:.5rem;
  color:white;
  background:darkblue;
  border-radius: 1pc;
  border: 6px solid transparent;
  border-color: darkblue transparent transparent transparent;
}

.chart-container {
  position: relative;
  justify-content:center; 
  height:30vh; 
  width:60vw;
  padding-bottom:200px;
  margin-bottom: 200px}